<h1>Listing black_cards</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @black_cards.each do |black_card| %>
  <tr>
    <td><%= link_to 'Show', black_card %></td>
    <td><%= link_to 'Edit', edit_black_card_path(black_card) %></td>
    <td><%= link_to 'Destroy', black_card, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Black card', new_black_card_path %>
