<div id="status" class="page-header" style="margin-top:0px;">
   <h2>Czar: <span id="status-czar"><%= @czar_user.email %></span>
   <small class="pull-right">Your Awesome Points: <span id="status-player-points"><%= @player.score %></span> / <%= @game.max_score %></small></h2>
</div>

<div id="game-content">
   <div id="black-card"></div>
   <div id="game-hand"></div>
</div>

<div id="player-hand">
</div>

<br>

<%= link_to 'Back', games_path, class: 'btn btn-info btn-lg' %>
 
<hr>
