// Place all the styles related to the BlackCards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.black-card {
  margin: 1%;
  width: 18%;
  height: 180px;
  float: left;
  border: solid black 4px;
  text-align: center;
  font-size: 1.6em;
  font-weight: bold;
  font-family: 'helvetica' sans-serif;
  padding: 1%;
  background-color: black;
  color: white;
}
