.white-card {
  margin: 1%;
  width: 18%;
  height: 180px;
  float: left;
  border: solid black 4px;
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
  font-family: 'helvetica' sans-serif;
  padding: 1%;
}
