.white-card {
  margin: 2%;
  width: 15%;
  height: 200px;
  float: left;
  border: solid black 5px;
  border-radius: 5px;
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
  font-family: 'helvetica' sans-serif;
  padding: 1%;
}

.white_card p {
  text-align: center;
}

