<h1>Listing white_cards</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @white_cards.each do |white_card| %>
  <tr>
    <td><%= link_to 'Show', white_card %></td>
    <td><%= link_to 'Edit', edit_white_card_path(white_card) %></td>
    <td><%= link_to 'Destroy', white_card, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New White card', new_white_card_path %>
