<div class="page-header">
  <h1><%= @deck.name %></h1>
</div>

<h3>Black Cards:</h3>
<% @deck.black_cards.each do |b| %>
  <%= render partial: 'decks/card', object: b %>
<% end %>

<h3>White Cards:</h3>
<% @deck.white_cards.each do |w| %>
  <%= render partial: 'decks/card', object: w %>
<% end %>

<br>

<%= link_to 'Back', decks_path, class: "btn btn-info btn-lg" %>
