<% if notice %>
<div class="alert alert-warning alert-dismissable">
	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
	<%= notice %>
</div>
<% end %>
<% if alert %>
<div class="alert alert-error alert-dismissable">
	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
	<%= alert %>
</div>
<% end %>